{% extends 'base.html' %}

{% block content %}
<div class="form-group">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type ="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock content %}
