{% extends 'base.html' %}
{% block content %}
<center>
<div class="card-body">
    <h1>Hello {{ user.username }}! Events for {{ month }} {{ year }}</h1>
    As of {{ current_time }}
    <br/><br/>
    {{ cal|safe }}
</div>
</center>
{% endblock content %}
