{% extends 'base.html' %}
{% block content %}
<div class="form-group">
    <h1>Create a new project</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type ="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock content %}
