{% extends 'base.html' %}
{% block content %}
<div class="card">
    <h1 class="card-title">My Projects</h1>
    <p><a href="{% url 'create_project' %}">Create a new project</a></p>
    {% if list_project %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of tasks</th>
            </tr>
        </thead>
        <tbody>
            {% for project in list_project %}
            <tr>
                <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                <td>{{ project.tasks.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You are not assigned to any projects</p>
    {% endif %}
</div>
{% endblock content %}
